/* COLORS */

$color-black: #000;
$color-white: #fff;
$color-grey51: #333;
$color-grey119: #777;
$color-grey247: #f7f7f7;
$color-grey238: #eee;
$color-grey153: #999;

$magenta: #c509bc;
	
	//GRADIENTS
$gradient-primary: linear-gradient(to right, #0b8793, #360033);
$gradient-secondary: linear-gradient(to right, #0b8793, #1ebba3);


/* GRID */
$grid-width: 100%; 
$grid-height: 100%;
$gutter-vertical: 4rem;
$gutter-vertical-sm: 2rem;
$gutter-horizontal: 6rem;


/* FONT-SIZE */
$default-font-size: 1em;
// Breakpoints
$bp-map: (
"noAnim": "(prefers-reduced-motion: reduce)",
"standard": "(max-width: 56.24em)",
"standard-land": "(max-width: 56.24em) and (orientation: landscape)", 
"phone-sm":"(min-width: 15em)", //240px
"default" : "(min-width: 22.5em)", //360px
"phone": "(min-width: 27.5em)", //440px
"phone-lg": "(min-width: 37.5em)", //600px
"tab": "(min-width: 48em)", //768px
"tab-md": "(min-width: 56.25em)", //900px  -- switch to desktop content
"tab-lg": "(min-width: 62em)", //992px
"desktop-sm": "(min-width: 68.75em)", //1100px
"desktop": "(min-width: 75em)", //1200px
"desktop-lg": "(min-width: 93.75em)" //1500px
);