@import '../../../abstract/variables';
.navbar{
  height: 100%;
  width: 100%;
  transition: all .8s;
  font-size: 2.75rem;
  @include dndCursor;
  
  &__container {
    margin: 0!important;

    &--socialMedia{
      justify-content: flex-end;
      z-index: 5000 !important;
    }
  }

  &__bg {
  	height: 100%;
    width: 100%;
    // background-color: #000;
    background-color: rgba(0,0,0,.1);
    // background-image: linear-gradient(to bottom, #0b8793 5%,#323b41 0%,#000 80%);
	  display: flex;
  }

  // #drop2 &__bg {
  //   background-image: linear-gradient(to right, transparent, #000 40%);
  // }

  // #drop3 &__bg {
  //   background-image: linear-gradient(to top, #0b8793 2%,#323b41 0%,#000 50%);
  // }

  // #drop4 &__bg {
  //   background-image: linear-gradient(to left, transparent,#000 50%);
  // }

  &__icon {
    color: #1ebba3;
    background: #360033;  /* fallback for old browsers */
    background: $gradient-secondary; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    cursor: pointer;
    padding: 5px 2px;

    @include bp("tab-md--ar4/1") {
      font-size: 4rem;
    }

    @include bp("tab-md--ar4/1") {
      font-size: 2rem;
    }

      &:hover::before {
        transition: all .5s ease;
        width: 100%;
        content: attr(content);
        background: white;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.25rem;

        @include bp("tab-md--ar6/1") {
          font-size: 2.5rem;
        }

        #drop1 &, #drop2 &, #drop4 & {
          font-size: 2rem;
        }  
      }


      &--social {
        transition: all .5s;
        color: #1ebba3;
        background: #360033;  /* fallback for old browsers */
        background: $gradient-secondary; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-clip: text;
        padding: 5px 2px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        cursor: pointer;

        @include bp("tab-md--ar4/1") {
          font-size: 4rem;
        }

        @include bp("tab-md--ar4/1") {
          font-size: 2rem;
        }

        &:hover {
          transform: scale(1.5);
        }
      }
  }

  &__item {
  	display: flex;
  	width: 100%;
  	height: 100%; 

  }

  &__link {
    all: unset; //remove native css button styles
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    @include dndCursor;
  }

  &__logo {
    width: 100%;
  }

  .invertGrid &__logo {
    height: 100%;
    width: 90%;
  }

  // &__brand {
  //   text-decoration: none;
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;   
  //   background-image: url(./images/lyness.svg);
  //   background-repeat: no-repeat; 
  // }

  &__social {
    display: flex;
    width: 22%;
  }

  .invertGrid &__social {
    width: 100%;
    height: 22%;
  }

}

[id^="drop"] {
  display: flex;
  position: fixed;
  z-index: 20000;
}

#drop1, #drop3 {
 flex-direction: row;
 width: 100%;
 height: 7vh;

 @include bp("tab-md--ar4/1") {
   height: 12vh;
 }
}

#drop2, #drop4 {
 height: 100vh;
 width: 9vh;
 flex-direction: column;
//  position: absolute;
 top:0;

 .navbar__icon--social:hover {
   transform: scale(1.25);
 }

 @include bp("tab-md--ar3/1") {
  .navbar__container--socialMedia {
    justify-content: space-evenly;
  }

  .navbar__container--links {
    justify-content: space-evenly;
  }

  .navbar__icon, .navbar__icon--social {
    font-size: 2.5rem;
  }
 }

 @include bp("desktop--ar4/1") {
    .navbar__container--socialMedia {
      justify-content: space-evenly;
    }
  
    .navbar__container--links {
      justify-content: space-evenly;
    }
  
    .navbar__icon, .navbar__icon--social {
      font-size: 2rem;
    }
  }
}

#drop1 .navbar__container--socialMedia{
  margin-right: 4%;
}

#drop2 {
  left: 0;
}

#drop3 {
  position: absolute;
  bottom: 0;
  left: 0;
}

#drop4 {
  right: 0;

  // & .navbar__link {
  //   margin-left: 6rem;
  // }
}

[id^="drop"] li {
  justify-content: center;
  align-items: center;
}

#dragItem {
  width: 100%;
  height: 100%;
}