.section-skills {
  height: 100vh;
  width: 100%;
  max-width: 100%;  
  overflow: auto;
}

.title--skills {
  mix-blend-mode: difference;
  filter: contrast(.6);
  height: 12vh !important;
  font-size: 5rem !important;
  letter-spacing: 2px !important;
  @include bp('tab-md') {
    height: 14vh !important;
    font-size: 4rem !important;
    letter-spacing: 5px !important;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.gridWrapper {
  height: 60vh;
  transform: translateY(0vh);

  @include bp("standard--ol") { //standard--ol
    height: 90vh;
    transform: translateY(-5vh);
  }

  @include bp("tab-md") {
    transform: translateY(6vh);
  }
}

.gridCarousel {
  height: fit-content;
  grid-gap: 10rem 0rem;

  @include bp("standard--ol") {
    grid-gap: 5rem 0rem;
  }
}

.pageDots {
  z-index: -2000;
  transform: translateY(26vh);

  @include bp("standard--ol") {
    transform: translateY(42vh);
  }
}

.unsetButton {
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  @include unsetBtn;
  @include button;
  box-shadow: unset;
  &:focus {
    border: unset !important;
  }
}

.skillSummary {
  color: white;
  font-family: 'gruppo', 'Courier New', Courier, monospace;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5vh;
  filter: contrast(1.5);
  mix-blend-mode: difference;

  @include bp('tab-md') {
    padding: 2% 3%;
  }
}