.skillBtn {
  &__container, &__btn {
    width: fit-content;
  }

  &__btn {
    @include button;
    color: unset;
    background-color: unset;
    border: unset;
  }

  &__container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

  &__subtitle {
    width: 100%;
    color: white;
    font-size: 2.5rem;

    &:after {
      content: " ";
      width: 0;
      transition: width .75s ease-out;
      border-top: 2px solid whitesmoke;

      .skillBtn__btn:focus + & {
        width: 100%;
      }
    };
  }
}