@import '../abstract/animations';
@import '../abstract/variables';


// where n is number of stars required
@function multiple-box-shadow ($n) {
    $value: '#{random(4000)}px #{random(4000)}px #FFF';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(4000)}px #{random(4000)}px #FFF';
    }
  
    @return unquote($value);
}
  

$shadows-small:  multiple-box-shadow(3500);
$shadows-medium: multiple-box-shadow(1750);
$shadows-big:    multiple-box-shadow(300);

 [id^="stars"] {
    border-radius: 1px;
 }   
#stars{
  width: 1px;
  height: 1px;
  // background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

    
  &:after{
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    // background: transparent;
    box-shadow: $shadows-small;
  }
}  

#stars2{
  width: 2px;
  height: 2px;
  // background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
    
  &:after{
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    // background: transparent;
    box-shadow: $shadows-medium;
  }
}


#stars3{
  width: 3px;
  height: 3px;
  // background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;
    
  &:after{
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    
    box-shadow: $shadows-big;
  }
}
   
@keyframes animStar {
  from {
    transform: translateY(-950px);
  }	
  to {
    transform: translateY(-2000px);
  }		
}   

@-moz-document url-prefix() {
  //firefox can't handle the heat. Disable stars in firefox only and preserve usability
  [id^="stars"] {
    box-shadow: unset;
    animation: none;
    display: none;
  }
}

@include bp("noAnim") {
  [id^="stars"] {
    box-shadow: unset;
    animation: none;
    display: none;
  }
}