*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: inherit; /*force box-sizing property to be an inherited property amongst all selectors, effectively changing its default behavior. Our root for this property is now what we declare in the body selector */
}

html {
	scroll-behavior: smooth;
	font-size: 31.25%; /*Declare default font-size here so we can easily scale all padding and related font-sizing with rem values. We use 31.25% because we want to take the browser default of 16px and bring it down to a default of five.  
			 			this changes the definition of what a rem unit is */

	
	@include bp("phone") {// width >= 480?
		font-size: 37.5%; //1 rem = 6px, 6/16 = 37.5%
	}	

	@include bp("standard-land") {
		font-size: 31.25%;
	}

	@include bp("tab-md--ol") { //width >= 900?
		font-size: 46.875%; //1 rem = 7.5px
	}

	@include bp('tab-md--ar2/1') {
		font-size: 37.5%; 
	}

	@include bp('tab-md--ar3/1') {
		font-size: 30%; 
	}

	@include bp('desktop') {
		font-size: 50%; //1rem = 8px
	}

	// @include bp('desktop--ar21/9') {
	// 	font-size: 37.5%;
	// }

	@include bp('desktop--ar32/9') {
		font-size: 37.5%;
	}

	// @include bp('desktop--ar2/1') {
	// 	font-size: 37.5%; 
	// }
}

body {
	width: auto;
	height: 100vh; 
	margin: 0;
	box-sizing: border-box; /* Padding and border no longer included when we express size for elements.*/
	// background-color: black;
	// overflow: hidden;  uncomment to disable android chrome's pull-to-refresh feature, if desired
	@include bp("tab") {// width < 600?
		padding: 0; //1 rem = 8px, 8/16 = 50%
	}
	scroll-behavior: smooth;
}

#root {
	width: inherit;
	height: inherit;
}

.App {
	width: inherit;
	height: inherit;
	background-color: black;
}

canvas {
	width: 100%;
	height: 100%;
}

*:focus {
  border: 1px solid rgb(0, 234, 255) !important;
}