.headContainer {
	height: 7vh;
    background-color: black;
	@include bp("standard-land") {
	  height: 0;
	}

	&--unset {
	  height: 0;
	}
}

.logo {
	height: 100%;
	width: 27.9rem;
}

mark {
  color: rgb(0, 234, 255);
  background-color: unset !important;
  display: contents;
  font-weight: 600;
}